/* 3-Day Forecast */
.forecast {
    margin-top: 20px;
  }
  
  .forecast-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .forecast-card {
    border-radius: 10px;
    padding: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .forecast-card img {
    width: 50px;
    height: 50px;
    margin: 8px 0;
  }
  
  .day h3 {
    font-size: 1.5em;
  }
  .high_low p {
    display: flex;
    gap: 10px;
    margin: auto;
    align-items: center;
    font-size: 1em;
  }
  @media (max-width:425px) {
    .forecast-cards {
        flex-direction: column;
        gap: 5px;
      }
      .forecast-card {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
      }
  }