.current-weather {
    margin: 20px 0;
    /* border: 1px solid red; */
  }
  
  #weather-card {
    background-color: rgba(255, 255, 255, 0.198);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  #city-name{
    text-align: center;
  }
  .weather-situation{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .weather-icon img {
    width: 65px;
    height: 65px;
    object-fit: contain;
  }

  .temperature {
    font-size: 1.9em;
  }
  
  .details {
    margin-top: 10px;
    /* border: 1px solid blue; */
  }
  .hum-wind-container{
    display: flex;
    justify-content: space-between;
  }
  .humidity-container, .wind-speed-container , .last-updated-container{
    display: flex;
    gap: 5px;
  }
  #humidity, #last-updated, #wind-speed{
    font-weight: bold;
  }
  .last-updated-container{
    margin-top: 15px;
  }
  #last-updated {
    font-size: 1em;
    color: rgb(136, 6, 6);
  }
  @media (max-width:375px){
    .hum-wind-container{
        flex-direction: column;
        align-items: center;
    }
  }
  @media (min-width: 450px) and (max-width: 1024px) {
    #weather-card {
        width: 75%;
    }
    #city-name{
        text-align: left;
    }
    .hum-wind-container{
        justify-content:flex-start;
        gap: 45px;
    }
    .weather-situation {
        justify-content: center;
    }
    .last-updated-container {
     justify-content: center;
    }
  }
  
  @media (max-width:650px){
    #weather-card{
        width: 90%;
    }
  }
  @media (min-width: 1024px) and (max-width: 1090px){
    #weather-card{
        width: 65%;
    }
  }