.current-weather {
    margin: 20px 0;
    /* border: 1px solid red; */
  }
  
  #weather-card {
    background-color: rgba(255, 255, 255, 0.198);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  #city-name{
    text-align: center;
  }
  .weather-situation{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .weather-icon img {
      width:  35px;
      height: 35px;
    object-fit: contain;
  }

  .temperature {
    font-size: 1.9em;
  }
  
  .details {
    margin-top: 10px;
    /* border: 1px solid blue; */
  }
  .hum-wind-container{
    display: flex;
    justify-content: space-between;
  }
  .humidity-container, .wind-speed-container , .last-updated-container{
    display: flex;
    gap: 5px;
  }
  #humidity, #last-updated, #wind-speed{
    font-weight: bold;
  }
  .last-updated-container{
    margin-top: 15px;
  }
  #last-updated {
    font-size: 1em;
    color: rgb(136, 6, 6);
  }