/* General Styles */
html{
    height: 100%;
    transition: all 2s ease;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    font-family: Arial, sans-serif;
  }
  /* Morning Background */
 html.morning {
    background-image:url("../images/Morning.jpg");
    color: #333;
  }
  
  /* Afternoon Background */
 html.afternoon {
    background-image:url("../images/Afternoon.jpg");
    color: #91c2f7;
  }
  
  /* Night Background */
 html.night {
    background-image: url("../images/Night.jpg");
    color: rgb(68, 18, 27);
  }
  
  /* Rainy Background */
 html.rainy {
    background-image: url("../images/Rainy.jpg");
    /* color: firebrick; */
  }
  
  /* Cloudy Background */
 html.cloudy {
    background-image: url('../images/Cloudy.jpg');
    color: #333;
  }
  
  /* Default Background */
 html.default {
    background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
    color: #333;
  }